- var URL_CYL = 'https://github.com/chuyangliu/'
- var URL_TASTY_SNAKE = 'https://github.com/chuyangliu/TastySnake/'
- var URL_WIKI_SNAKE = 'https://en.wikipedia.org/wiki/Snake_(video_game_genre)'
- var URL_HELP_BATTLE_FIELD = '/assets/images/help_battle_field.png'
- var URL_SRC = 'https://github.com/chuyangliu/EatMe/'
- var URL_CREATE_ISSUE = 'https://github.com/chuyangliu/EatMe/issues/new/'

p #{APP_NAME} is a two-player battle game developed by #[a(href=URL_CYL, target='_blank') Chuyang Liu]. The original version of this game, #[a(href=URL_TASTY_SNAKE, target='_blank') TastySnake], was powered by Bluetooth and ran on Android devices. It has now been renamed to #{APP_NAME} and rewritten with web technologies.

h3 How to play?

p #{APP_NAME} is very similar to the classic game of #[a(href=URL_WIKI_SNAKE, target='_blank') Snake]. When you find your opponent and both of you get ready, the battle field will show up at the middle of your screen:

p #[img(src=URL_HELP_BATTLE_FIELD, class='img-responsive center-block')]

p Control the movements of your snake with the four #[strong arrow] keys on your keyboard. Also keep in mind that:

ol
  li When two snakes collide, the #[strong attacker] wins.
  li Lose when hitting the four boundaries or one's own body.

p #[strong Bonus:] You can choose to play with a (stupid) robot when finding no opponents.

h3 Support

p EatMe is open-sourced on #[a(href=URL_SRC, target='_blank') GitHub]. Please feel free to post advice and/or bugs by #[a(href=URL_CREATE_ISSUE, target='_blank') creating an issue].
