- var URL_CYL = 'https://github.com/chuyangliu'
- var URL_TASTY_SNAKE = 'https://github.com/chuyangliu/TastySnake'
- var URL_WIKI_SNAKE = 'https://en.wikipedia.org/wiki/Snake_(video_game_genre)'
- var URL_MAIL = 'chuyang.s.liu@gmail.com'
- var URL_HELP_BATTLE_FIELD = '/assets/images/help_battle_field.png'

p #{APP_NAME} is a two-player game developed by #[a(href=URL_CYL, target='_blank') Chuyang Liu]. The original version of this game, #[a(href=URL_TASTY_SNAKE, target='_blank') TastySnake], was based on Bluetooth and ran on Android devices. It has now been renamed to #{APP_NAME} and rewritten with web technologies.

h3 How to play?

p Do you still remember the game of #[a(href=URL_WIKI_SNAKE, target='_blank') Snake]? #{APP_NAME} is very similar to it. When you find your opponent and both of you get ready, the battle field will show up at the middle of your screen:

p #[img(src=URL_HELP_BATTLE_FIELD, class='img-responsive center-block')]

p Control the movements of your snake with the four #[strong arrow] keys on your keyboard. Also keep in mind that:

ol
  li When two snakes collide, the #[strong attacker] wins.
  li Lose when hitting the four boundaries or one's own body.

h3 Have problems or ideas?

p Please feel free to contact the author by email: #[strong #{URL_MAIL}].

h3 Source code?

p The source code will be released within a few months. Follow the author on #[a(href=URL_CYL, target='_blank') GitHub] to get notifications.
